<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>REPORTES - CALI</title>
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="/css/c_menu.css">
        <link rel="stylesheet" href="/css/cali.css">
    </head>
    <body>
        <div class="sidebar">
            <div class="logo-details">
                <i class='bx bxl-c-plus-plus icon'></i>
                    <div class="logo_name">Cali</div>
                <i class='bx bx-menu' id="btn" ></i>
            </div>
            <ul class="nav-list">
                <li>
                    <a href="/cali/productos">
                        <i class='bx bx-cart-alt' ></i>
                        <span class="links_name">Productos</span>
                    </a>
                    <span class="tooltip">Productos</span>
                </li>
                <li>
                    <a href="/cali/clientes">
                        <i class='bx bx-user' ></i>
                        <span class="links_name">Clientes</span>
                    </a>
                    <span class="tooltip">Clientes</span>
                </li>
                <li>
                    <a href="/cali/proveedores">
                        <i class='bx bx-user' ></i>
                        <span class="links_name">Proveedores</span>
                    </a>
                    <span class="tooltip">Proveedores</span>
                </li>
                <li>
                    <a href="/cali/ventas">
                        <i class='bx bx-folder' ></i>
                        <span class="links_name">Ventas</span>
                    </a>
                    <span class="tooltip">Ventas</span>
                </li>
                <li>
                    <a href="/cali/reportes">
                        <i class='bx bx-pie-chart-alt-2' ></i>
                        <span class="links_name">Reportes</span>
                    </a>
                    <span class="tooltip">Reportes</span>
                </li>
                <li class="profile">
                    <div class="profile-details">
                        <div class="name_job">
                            <div class="name">Administrador</div>
                            <div class="job">Cerrar Sesión</div>
                        </div>
                    </div>
                    <a href="/cali/login">
                    <i class='bx bx-log-out' id="log_out" ></i>
                    </a>
                </li>
            </ul>
        </div>
        <section class="home-section">
            <div class="text">REPORTES</div>
            <div class="clearfix"></div>
            <div class="box" id="block">
                <a href="/cali/lista_clientes">
                    <p>LISTADO DE CLIENTES</p>
                </a>
            </div>
            <div class="box" id="block1">
                <a href="/cali/ventas_cliente">
                    <p>VENTAS POR CLIENTE</p>
                </a>
            </div>
        </section>
        <script src="/js/Funcionalidades.js"></script>
    </body>
</html>